.cadastro-container{
    background-image: url("../../assets/backgroud's/fundo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    animation: fadeIn 1s linear;
}
.form{
    display: flex;
    flex-direction: column;
    background-color: #BF7636;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0px 5px 15px 0px #fff;
    transition: all 0.3s;
}
.form:hover{
    box-shadow: 0px 5px 15px 5px #fff;
}
.form>:is(input, button){
    color:#000;
    border: none;
    border-radius: 10px;
}
.form-container>section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form>input{
    background-color: #D94343;
    color: #000;
    padding: 10px;
    border: solid 2px #F2CEA2;
}
.form>button{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: #F2CEA2;
    font-size: 20px;
    font-weight: bold;
    box-shadow: inset 0 0 10px #141414;
    transition: all 0.3s;
}
button:hover{
    box-shadow: inset 0px 2px 10px #141414;
}
button:active{
    transition: 0s;
    box-shadow: inset 0 0 20px #141414;
}
section>h1{
    letter-spacing: 10px;
    font-size: 64px;
    margin-bottom: 10px;
}
section>h3{
    font-size: 24px;
}
.btn-router{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    width: 100%;
    height: 50px;
    padding: 0 50px;
    border: solid 2px #D94343;
    border-radius: 10px;
    background-color: #F2CEA2;
    color: #000;
    box-shadow: inset 0 0 10px #141414;
    transition: all 0.3s;
}

@keyframes fadeIn {
    from {
        top: -200px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@media screen and (max-width: 770px) {
    .form-container {
        flex-direction: column-reverse;
    }
    section h1{
        font-size: 40px;
    }
    section h3{
        font-size: 16px;
    }
}