.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    width: 300px;
    height: 280px;
    background-color: #BF996B;
}
.card h1{
    color: #fff;
    font-size: 15px;
}
.card h2{
    color: #fff;
    font-size: 10px;
}
.card img{
    width: 50%;
    border-radius: 30px;
}