body{
    background-image: url("../../assets/img/armario.jpg");
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    margin-top: 20px;
    height: 100vh;
}
