body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #4b4b4b;
  background-image: url("./assets/fundo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

